/* font colors */
.fc_white {
  color: #ffffff;
}

/* font size */
.fss {
  font-size: 0.8rem;
}
.fsm {
  font-size: 0.9rem;
}
.fsn {
  font-size: 1rem;
}
.fsl {
  font-size: 1.2rem;
}
.fsxl {
  font-size: 1.5rem;
}
.fs2x {
  font-size: 2rem;
}

/* font styles */
.fwb {
  font-weight: bold;
}

/* font color */
.fcg {
  color: #666;
}
.fcgd {
  color: #444;
}

/* sizing */
.w-100 {
  width: 100%;
}
.h-36p {
  height: 36px;
}
.h-16 {
  height: 16px;
}

/* padding */
.pad-8 {
  padding: 8px;
}

/* backgrounds */
.bg-pri {
  background-color: #0c007c;
}

/* display */
.f {
  display: flex;
}
.fcol {
  display: flex;
  flex-direction: column;
}
.fc {
  display: flex;
  align-items: center;
}
.fccol {
  display: flex;
  align-items: center;
  flex-direction: column;
}
.fcc {
  display: flex;
  align-items: center;
  justify-content: center;
}
.f_cent {
  display: flex;
  justify-content: center;
}
.f_spbw {
  display: flex;
  justify-content: space-between;
}
.fcbw {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.fcend {
  display: flex;
  align-items: center;
  justify-content: flex-end;
}
.f1 {
  display: flex;
  flex: 1;
}

/* position */
.rel {
  position: relative;
}
.abs_lt {
  position: absolute;
  top: 0;
  left: 0;
}
.abs_br {
  position: absolute;
  bottom: 0;
  right: 0;
}
.abs_br-8 {
  position: absolute;
  bottom: 8px;
  right: 8px;
}

/* border radius */
.br-4-4-0-0 {
  border-radius: 4px 4px 0 0;
}
.round {
  border-radius: 20px;
}

/* links */
.ln_white:hover {
  color: #ffffff;
}

/* custom */
.zoom:hover {
  transform: scale(1.02);
}
