/* font colors */
.fc_white {
  color: #ffffff;
}

/* font size */
.fss {
  font-size: 0.8rem;
}
.fsm {
  font-size: 1rem;
}

/* font styles */
.fwb {
  font-weight: bold;
}

/* sizing */
.w-100 {
  width: 100%;
}
.h-36p {
  height: 36px;
}

/* padding */
.pad-8 {
  padding: 8px;
}

/* backgrounds */
.bg-pri {
  background-color: #0c007c;
}

/* display */
.f {
  display: flex;
}
.fcol {
  display: flex;
  flex-direction: column;
}
.fc {
  display: flex;
  align-items: center;
}
.fcc {
  display: flex;
  align-items: center;
  justify-content: center;
}
.f_spbw {
  display: flex;
  justify-content: space-between;
}
.fcbw {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

/* border radius */
.br-4-4-0-0 {
  border-radius: 4px 4px 0 0;
}

/* links */
.ln_white:hover {
  color: #ffffff;
}

/* login */
.login-box {
  margin: auto;
  padding-bottom: 16px;
  box-sizing: border-box;
  border-radius: 32px;
  border: 1px solid #100e96;
  border-top: 8px solid #100e96;
  box-shadow: 0 2px 8px #8a8a8a;
}
.headerBox {
  min-width: 220px;
  width: 220px;
  min-height: 36px;
  padding: 8px 16px;
  border-radius: 8px 8px 0 0;
  white-space: nowrap;
}
.borB-2 {
  height: 2px;
  width: 100%;
}

/* mui */
.MuiDivider-root {
  background-color: #969696 !important;
}
